* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    position: relative;
    padding: 36px 24px;
    /* padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 24px;
    padding-right: 24px; */
    width: 100%;
    background-color: #B4CF66;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A33;
}

nav>a {
    color: white;

}

a {
    text-decoration: none;
}

h1 {
    color: #146152;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.recipe-item>h3 a {
    color: #44803F;
}

.recipe-item>img,
.recipe-detail-img {
    height: 200px;
}

.ingredients tr:nth-child(even) {
    background-color: lightgray;
}
